.TransitionContainer {
    animation: TransitionPage 0.25s;
}


@keyframes TransitionPage {
    from{
        opacity: 0;
        transform: rotateX('-10deg');
    }
    to {
        opacity: 0;
        transform: rotateX('0');
    }
}

@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
.css-element {
display: none;
}
   } 