@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;

}
/* Header Container */
header{
  min-width: 100vw;
}
.PageHeader{
 
    margin: 0px;
    display: flex;
    background-color: #937b4f;
    height: 100px;
    min-width: 100vw;
    flex-direction: row;
    justify-content: space-between;
  }
.Header1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;

    
  }
.Header2{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #937b4f;
  width: 75%;
  }
.Header3{
    width: 10%;
    display: flex;
    background-color: #937b4f;
    height: 100px;

  }
/* .Menu{
  
    height: 50px;
    width: 50px;
    
  
  }
.MenuButton{
    
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden;
    width: 50px;
    
    
    }
.MenuButtonIcon{
    
    height: 50px;
    width: 25px;
    color: black;
  }
.MenuButtonIcon:hover{
    color: wheat;
  }
.Header1 li{
    list-style: none;
    position: relative;
    
  }
.dropdown{
    display: none; 
  } 
.Header1 li:hover .dropdown{
    display: flex;
    list-style: none;
    background: rgb(185, 169, 139,.8);
    position:absolute;
    top:50px;
    overflow: none;
    z-index: 9999;
  }
  
.ListContainer{
    display: flex;
    margin:10px;
    flex-direction: column;

    
  }
.MenuList:hover{
    background-color: #937b4f;
  }
.ListContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;

}
.ListContainer div a{
    font-size: 15px;
    font-weight: bold;
  
  } */
.Home{
    display: none;
    height: 0px;
    width: 0px;
    
  
  }
.HomeButton{
  
  outline: none;
  border:none;
  overflow: hidden;
  background-color: transparent;
  width: 0px;
  
  }
.HomeButtonIcon{
    height: 0px;
    width: 0px;
    color: black;
    
  }
.HomeButtonIcon:hover{
  color: wheat;
}
.LogoIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  

}

.LogoIcon img{
  border: 3px solid rgb(245, 222, 179,.5);
  border-radius: 100%;
  margin-left: 5px;
  height: 30px;
  width: 30px; 
}

.Login {
    height: 50px;
    width: 10%;
  }
.LoginButton{
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden; 
    height: 100px;
    
  }
  
.LoginButtonIcon{
    height: 50px;
    width: 25px;
    
  }
.LoginButtonIcon:hover{
    color: wheat;
  }
.Header3 li{
    list-style: none;
    position: relative;
  }
  
.LoginDropDown {
    display: none;
  }
.Header3 li:hover .LoginDropDown {
    display: flex;
    flex-direction: column;
    background: rgb(185, 169, 139,.8);
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    top:75px;
    overflow:hidden;
    z-index: 9999;
  }
.LoginLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
    
  }
.LoginLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
.LoginLink a{
  font-size: 20px;
  color:black;
  font-weight: bold;
  }
.SignupLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
  }
.SignupLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
.SignupLink a{
    font-size: 20px;
    font-weight: bold;
    color:black
  }
.Header2 .cupcakes h3{
    font-size: 2.5rem;
    color: wheat;
    background-color: transparent;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
  
  }
.Header2 .cupcakes{
  display: block;
  width: auto;
  background-color: transparent;
}
.PageBanner {
    display: none;
    height: 100px;
    width: 230px;
    justify-content: center;
    background-image: url(layered.jpeg);
  }
.Banner{
    
    height: 100px;
    width: 230px;
  
  }
.Layered{
    height: 100px;
    width: 230px;
  
  
  }
main{
    width: 100vw;
    background-image: url(woodbg.jpg) ;
    min-height: calc(100vh - 100px - 100px);
    margin: 0 auto;
    padding: 0 20px;
  }

.TransitionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: initial;
  min-height: calc(100vh - 120px - 150px);
  background-color: rgb(147, 123, 74,.5);
}
.cupcake {
  display: none;
  position: absolute;
  width: auto;
  background-color: transparent;
  top: 10px;
  left: 110px;
  z-index: 2;
}
.TransitionContainer .cupcake h3{
  font-size: 3.5rem;
  color: wheat;
  background-color: transparent;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;

}

.TransitionContainer .productscontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  text-align: center;
}

.TransitionContainer .productscontainer .products{
  display: flex;
  width: 80%;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color:wheat;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  outline: .1rem solid transparent;
  outline-offset: -1.5rem;
}
.TransitionContainer .productscontainer .products .prodtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TransitionContainer .productscontainer .products .prodtext h1{
  font-size: 1rem;
}
.TransitionContainer .productscontainer .products img{
  height: 15rem;
  width: 100px;
}

.TransitionContainer .productscontainer .products:hover img{
  transform: scale(.9);
}

.TransitionContainer .productscontainer .products:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
}

.TransitionContainer .productscontainer .products:hover h3{
  color: #937b4f;
}

.TransitionContainer .productscontainer .products h3{
  padding: .5rem 0;
  font-size: 2rem;
  color: #444;
}

.TransitionContainer .productscontainer .products .price{
  padding: .5rem 0;
  font-size: 1rem;
  color: #444;
}
.TransitionContainer .productscontainer .products .button{
  flex-wrap: wrap;
  margin-top: 10;

}
.TransitionContainer .productscontainer .products .button a{
  border: 0.1rem solid #444;
  background-color: beige;
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1 1 16rem;
  color: black;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
}

.TransitionContainer .productscontainer .products .button a.buy:hover{
  background-color: rgb(243, 243, 198);

}

footer{
    width: 100vw;
    height: 150px;
    background-color: black;

  }
.PageFooter {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 100%;
  }
.Footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:206px;  
  }
.Footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:206px;  
  }
.Empty{
    height: 30px;
  }
.AboutUsbutton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
    }
.AboutUsIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.AboutUstext{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.ContactButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
    }
.ContactIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.ContactText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.VisitButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  }
.VisitIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.VisitText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.Signage {
    height: 30px;
    width: 140px;
  }
.Note{
    position: relative;
    top: 8;
    left: 10;
    color: wheat;
  }
.FacebookButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.FacebookIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.FacebookText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  
  }
.TwitterButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.TwitterIcon{
    position: relative;
    right: 8;
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.TwitterText{
    position: relative;
    bottom: 8;
    left: -3;
    color: wheat;
  
  }
.InstagramButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.InstagramIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.InstagramText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  
  }



@media  screen and (min-width:412px) {
  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;

}
/* Header Container */
header{
  min-width: 100vw;
}
.PageHeader{
 
    margin: 0px;
    display: flex;
    background-color: #937b4f;
    height: 100px;
    min-width: 100vw;
    flex-direction: row;
    justify-content: space-between;
  }
.Header1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;

    
  }
.Header2{
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #937b4f;
  width: 75%;
  }
.Header3{
    width: 10%;
    display: flex;
    background-color: #937b4f;
    height: 100px;

  }
/* .Menu{
  
    height: 50px;
    width: 50px;
    
  
  }
.MenuButton{
    
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden;
    width: 50px;
    
    
    }
.MenuButtonIcon{
    
    height: 50px;
    width: 25px;
    color: black;
  }
.MenuButtonIcon:hover{
    color: wheat;
  }
.Header1 li{
    list-style: none;
    position: relative;
    
  }
.dropdown{
    display: none; 
  } 
.Header1 li:hover .dropdown{
    display: flex;
    list-style: none;
    background: rgb(185, 169, 139,.8);
    position:absolute;
    top:50px;
    overflow: none;
    z-index: 9999;
  }
  
.ListContainer{
    display: flex;
    margin:10px;
    flex-direction: column;

    
  }
.MenuList:hover{
    background-color: #937b4f;
  }
.ListContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 120px;

}
.ListContainer div a{
    font-size: 15px;
    font-weight: bold;
  
  } */
.Home{
    display: none;
    height: 0px;
    width: 0px;
    
  
  }
.HomeButton{
  
  outline: none;
  border:none;
  overflow: hidden;
  background-color: transparent;
  width: 0px;
  
  }
.HomeButtonIcon{
    height: 0px;
    width: 0px;
    color: black;
    
  }
.HomeButtonIcon:hover{
  color: wheat;
}
.LogoIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  

}

.LogoIcon img{
  border: 3px solid rgb(245, 222, 179,.5);
  border-radius: 100%;
  margin-left: 5px;
  height: 30px;
  width: 30px; 
}

.Login {
    height: 50px;
    width: 10%;
  }
.LoginButton{
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden; 
    height: 100px;
    
  }
  
.LoginButtonIcon{
    height: 50px;
    width: 25px;
    
  }
.LoginButtonIcon:hover{
    color: wheat;
  }
.Header3 li{
    list-style: none;
    position: relative;
  }
  
.LoginDropDown {
    display: none;
  }
.Header3 li:hover .LoginDropDown {
    display: flex;
    flex-direction: column;
    background: rgb(185, 169, 139,.8);
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    top:75px;
    overflow:hidden;
    z-index: 9999;
  }
.LoginLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
    
  }
.LoginLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
.LoginLink a{
  font-size: 20px;
  color:black;
  font-weight: bold;
  }
.SignupLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
  }
.SignupLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
.SignupLink a{
    font-size: 20px;
    font-weight: bold;
    color:black
  }
.Header2 .cupcakes h3{
    font-size: 2.5rem;
    color: wheat;
    background-color: transparent;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
  
  }
.Header2 .cupcakes{
  display: block;
  width: auto;
  background-color: transparent;
}
.PageBanner {
    display: none;
    height: 100px;
    width: 230px;
    justify-content: center;
    background-image: url(layered.jpeg);
  }
.Banner{
    
    height: 100px;
    width: 230px;
  
  }
.Layered{
    height: 100px;
    width: 230px;
  
  
  }
main{
    width: 100vw;
    background-image: url(woodbg.jpg) ;
    min-height: calc(100vh - 100px - 100px);
    margin: 0 auto;
    padding: 0 20px;
  }

.TransitionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: initial;
  min-height: calc(100vh - 120px - 150px);
  background-color: rgb(147, 123, 74,.5);
}
.cupcake {
  display: none;
  position: absolute;
  width: auto;
  background-color: transparent;
  top: 10px;
  left: 110px;
  z-index: 2;
}
.TransitionContainer .cupcake h3{
  font-size: 3.5rem;
  color: wheat;
  background-color: transparent;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;

}

.TransitionContainer .productscontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  text-align: center;
}

.TransitionContainer .productscontainer .products{
  display: flex;
  width: 90%;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color:wheat;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  outline: .1rem solid transparent;
  outline-offset: -1.5rem;
}
.TransitionContainer .productscontainer .products .prodtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TransitionContainer .productscontainer .products .prodtext h1{
  font-size: 2rem;
}
.TransitionContainer .productscontainer .products img{
  height: 15rem;
  width: 150px;
}

.TransitionContainer .productscontainer .products:hover img{
  transform: scale(.9);
}

.TransitionContainer .productscontainer .products:hover{
  outline: .2rem solid #222;
  outline-offset: 0;
}

.TransitionContainer .productscontainer .products:hover h3{
  color: #937b4f;
}

.TransitionContainer .productscontainer .products h3{
  padding: .5rem 0;
  font-size: 2rem;
  color: #444;
}

.TransitionContainer .productscontainer .products .price{
  padding: .5rem 0;
  font-size: 2rem;
  color: #444;
}
.TransitionContainer .productscontainer .products .button{
  flex-wrap: wrap;
  margin-top: 10;

}
.TransitionContainer .productscontainer .products .button a{
  border: 0.1rem solid #444;
  background-color: beige;
  padding: 0.5rem;
  font-size: 1.7rem;
  flex: 1 1 16rem;
  color: black;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
}

.TransitionContainer .productscontainer .products .button a.buy:hover{
  background-color: rgb(243, 243, 198);

}

footer{
    width: 100vw;
    height: 150px;
    background-color: black;

  }
.PageFooter {
    display: flex;
    justify-content: space-around;
    height: 150px;
    width: 100%;
  }
.Footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:206px;  
  }
.Footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:206px;  
  }
.Empty{
    height: 30px;
  }
.AboutUsbutton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
    }
.AboutUsIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.AboutUstext{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.ContactButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
    }
.ContactIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.ContactText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.VisitButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  }
.VisitIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.VisitText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  }
.Signage {
    height: 30px;
    width: 140px;
  }
.Note{
    position: relative;
    top: 8;
    left: 10;
    color: wheat;
  }
.FacebookButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.FacebookIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.FacebookText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  
  }
.TwitterButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.TwitterIcon{
    position: relative;
    right: 8;
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.TwitterText{
    position: relative;
    bottom: 8;
    left: -3;
    color: wheat;
  
  }
.InstagramButton{
    outline: none;
    border:none;
    overflow: hidden;
    background-color: transparent;
    width: 140px;
  
  }
.InstagramIcon{
    width: 30px;
    height: 30px;
    color: #937b4f;
  }
.InstagramText{
    position: relative;
    bottom: 8;
    left: 5;
    color: wheat;
  
  }
}

/*Screen display for 500px and above*/
@media screen and (min-width:500px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
  
  }
  /* Header Container */
  header{
    min-width: 100vw;
  }
  .PageHeader{
    width: 100vw;
    margin: 0px;
    display: flex;
    background-color: #937b4f;
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }
  .Header1{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .Header2{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #937b4f;
  }
  .Header3{
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #937b4f;
    width: 10%;
    height: 100%;
  }
  /* .Menu{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
  
  }
  .MenuButton{
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden;
    width: 100px;
    
    }
  .MenuButtonIcon{
    
    height: 50px;
    width: 50px;
    color: black;
  }
  .MenuButtonIcon:hover{
    color: wheat;
  }
  .Header1 li{
    list-style: none;
    position: relative;
  }
  .dropdown{
    display: none;
  }
  .Header1 li:hover .dropdown{
    display: flex;
    list-style: none;
    background: rgb(185, 169, 139,.8);
    position:absolute;
    top:80px;
    
  }
  
  .ListContainer{
    display: flex;
    margin:10px;
    flex-direction: column;
    
  }
  .Menulist:hover{
    background-color: #937b4f;
  }
  .ListContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
  
  }
.ListContainer div a{
    font-size: 25px;
    font-weight: bold;
  
  } */
  .Home{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  
  }
  .HomeButton{
  outline: none;
  border:none;
  background-color: transparent;
  width: 100px;
  
  
  }
  .HomeButtonIcon{
    height: 50px;
    width: 50px;
    color: black;
    
  }
  .HomeButtonIcon:hover{
    color: wheat;
  }
  .LogoIcon{
    display: none;
    width: 0;
    height: 0;
  }
  .Login {
   
    height: 100%;
    width: 10%;
    
  }
  .LoginButton{
    background-color: transparent;
    outline: none;
    border:none;
    overflow: hidden; 
    height: 100px;
  }
  
  .LoginButtonIcon{
    height: 50px;
    width: 50px;
    
  }
  .LoginButtonIcon:hover{
    color: wheat;
  }
  .Header3 li{
    list-style: none;
    position: relative;
  }
  
  .LoginDropDown {
    display: none;
  }
  .Header3 li:hover .LoginDropDown {
    display: flex;
    flex-direction: column;
    background: rgb(185, 169, 139,.8);
    width: 150;
    height: 150;
    position: absolute;
    right: -50px;
    top:80px;
  }
  .LoginLink{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 75px;
    
  }
  .LoginLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
  .LoginLink a{
    font-size: 25px;
    font-weight: bold;
    color:black
  }
  .SignupLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
  }
  .SignupLink:hover {
    background-color: rgb(146, 122, 79,.5);
  }
  .SignupLink a{
    font-size: 25px;
    font-weight: bold;
    color:black
  }
  .Header2 .cupcakes h3{
    font-size: 3.5rem;
    color: wheat;
    background-color: transparent;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
  
  }
.Header2 .cupcakes{
  display: none;
  width: auto;
  background-color: transparent;
}
  .PageBanner {
    display: flex;
    height: 100%;
    justify-content: center;
    background-image: url(layered.jpeg);
  }
  .Banner{
    position: relative;
    height: 100%;
    width: 300px;
  
  }
  .Layered{
   
    height: 100%;
    width: 300px;
  }
    main{
      display: flex;
      justify-content: center;
      background-image: url(woodbg.jpg) ;
      width: 100vw;
      min-height: calc(100vh - 120px - 150px);
      margin: 0 0;
      padding: 0 20px
    }
    .TransitionContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
      min-height: calc(100vh - 120px - 150px);
      background-color: rgb(147, 123, 74,.5);
    }
    .cupcake {
      display: block;
      position:static;
      width: 100%;
      background-color: transparent;
      border-bottom: 5px solid black;
      border-top: solid transparent ;
      border-left: solid transparent;
      border-right: solid transparent ;
      border-style: double;
      margin-bottom: 3rem;
    }
    .TransitionContainer .cupcake h3{
      font-size: 3.5rem;
      color: wheat;
      background-color: transparent;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-align: center;
    
    }
    
    .TransitionContainer .productscontainer{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  
      
      text-align: center;
    }
    
    .TransitionContainer .productscontainer .products{
      display: flex;
      width: fit-content;
      flex-direction: column;
      text-align: center;
      padding-bottom: 3rem ;
      margin-bottom: 3rem;
      background-color:wheat;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
      outline: .1rem solid #dddada;
      outline-offset: -1.5rem;
    }
    .TransitionContainer .productscontainer .products img{
      height: 25rem;
      width: 350px;
    }
  .TransitionContainer .productscontainer .products .prodtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .TransitionContainer .productscontainer .products .prodtext h1{
    font-size: 2rem;
  }

  
  .TransitionContainer .productscontainer .products:hover img{
    transform: scale(.9);
  }
  
  .TransitionContainer .productscontainer .products:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
  }
  
  .TransitionContainer .productscontainer .products:hover h3{
    color: #937b4f;
  }
  
  .TransitionContainer .productscontainer .products h3{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
  }
  
  .TransitionContainer .productscontainer .products .price{
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
  }
  .TransitionContainer .productscontainer .products .button{
    flex-wrap: wrap;
    margin-top: 10;
  
  }
  .TransitionContainer .productscontainer .products .button a{
    border: 0.1rem solid #444;
    background-color: beige;
    padding: 0.5rem;
    font-size: 1.7rem;
    flex: 1 1 16rem;
    color: black;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .10);
  }
  
  .TransitionContainer .productscontainer .products .button a.buy:hover{
    background-color: rgb(243, 243, 198);
  
  }
  
  footer{
      width: 100vw;
      height: 150px;
      background-color: black;
  
    }
  .PageFooter {
      display: flex;
      justify-content: space-around;
      height: 150px;
      width: 100%;
    }
  .Footer1{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width:206px;  
    }
  .Footer2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width:206px;  
    }
  .Empty{
      height: 30px;
    }
  .AboutUsbutton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
      }
  .AboutUsIcon{
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .AboutUstext{
      position: relative;
      bottom: 8;
      left: 5;
      color: wheat;
    }
  .ContactButton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
      }
  .ContactIcon{
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .ContactText{
      position: relative;
      bottom: 8;
      left: 5;
      color: wheat;
    }
  .VisitButton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
    }
  .VisitIcon{
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .VisitText{
      position: relative;
      bottom: 8;
      left: 5;
      color: wheat;
    }
  .Signage {
      height: 30px;
      width: 140px;
    }
  .Note{
      position: relative;
      top: 8;
      left: 10;
      color: wheat;
    }
  .FacebookButton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
    
    }
  .FacebookIcon{
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .FacebookText{
      position: relative;
      bottom: 8;
      left: 5;
      color: wheat;
    
    }
  .TwitterButton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
    
    }
  .TwitterIcon{
      position: relative;
      right: 8;
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .TwitterText{
      position: relative;
      bottom: 8;
      left: -3;
      color: wheat;
    
    }
  .InstagramButton{
      outline: none;
      border:none;
      overflow: hidden;
      background-color: transparent;
      width: 140px;
    
    }
  .InstagramIcon{
      width: 30px;
      height: 30px;
      color: #937b4f;
    }
  .InstagramText{
      position: relative;
      bottom: 8;
      left: 5;
      color: wheat;
    
    }
}
